@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Texto branco */
  --background-start-rgb: 39, 39, 42; /* Fundo escuro */
  --background-end-rgb: 39, 39, 42; /* Fundo escuro */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0; /* Texto preto no modo claro */
    --background-start-rgb: 214, 219, 220; /* Fundo claro */
    --background-end-rgb: 255, 255, 255; /* Fundo claro */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom right, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
